{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <h2>Thanks for your message!</h2>
{% for post in page_obj %}
<div class="post" xmlns="http://www.w3.org/1999/html">
    <div class="data">
    <p>Published: {{ post.created_date }}</p>
    </div>
    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
    <img src="{{ post.picture.url }}" alt="{{ post.title }}" width="200px">
    <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endfor %}
{% endif %}
{% endblock %}

