{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
        <button type="submit">Search For Posts</button>
    </form>
{% for post in page_obj %}
<div class="post" xmlns="http://www.w3.org/1999/html">
    <div class="data">
    <p>Published: {{ post.created_date }}</p>
    </div>
    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
    <img src="{{ post.picture.url }}" alt="{{ post.title }}" width="200px">
    <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endfor %}
{% endif %}
<div class="'pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

